$theme-colors: ("primary": #7b68ee,
  "secondary": rgb(174, 172, 176),
  "danger": #ff4136);

.pointer {
  cursor: pointer;
}

.pointer:hover {
  color: var(--primary) !important;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background-color: #eee;
  // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(slategrey, .3);
}