@import "src/assets/css/custom";
@import "src/assets/css/notification";
@import "src/assets/css/sidebar";
@import "src/assets/css/app";
@import "node_modules/bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container main {
  margin-left: 55px;
}

.card {
  border-radius: 8px;
}

.user-container {
  .app-title {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary);
    text-shadow: 2px 2px rgba(0, 0, 0, .1);
  }
}

main {
  display: flex;
  min-height: 100vh;
  background-color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}